@font-face{
	font-family:consola;
	src:url('file/fonts/consola.ttf');
}

.copybutton{
	float:right;
	padding:4px 8px;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	border-top:hidden;
	border-bottom:1px solid purple;
	border-left:1px solid purple;
	border-right:hidden;
	cursor:pointer;
}
.copybutton-cursor{
	background-color:white;
	color:purple;
}
.copybutton-cursor:hover{
	background-color:purple;
	color:white;
}